html {
	/*margin-left:10%;
	margin-right:10%;*/
}
.container, footer {
	width:100%;
}
h2 {
	font-weight:normal;
}
header {
	margin-top:0px;
	background-color: #333;
        position: fixed; /* Set the navbar to fixed position */
        top: 0; /* Position the navbar at the top of the page */
        width: 100%; /* Full width */
	z-index:1;
}
@media only screen and (min-width: 768px) {
	header {
		height:128px;
		display:flex;
	}
	header .navbar {
		background-color:#faf9f5;
		border-radius:0;
		padding-left:10%;
		/*padding-right:10%;*/
	}
	header .navbar .navbar-brand {
		height:65px;
		width:170px;
	}
}
@media (max-width: 811px) {
	/*.search-stats {
		display:grid;
	}*/
	header .navbar .navbar-nav > li > a{
		padding:0;
		margin:0;
	}
	ul.nav {
		display:grid;
	}
}
.navbar-toggle {
	height:fit-content;
}
.collapse.in {
	display:inline;
}
.container > .navbar-collapse {
	margin:auto;
	padding-right:60px;
	font-size:1.5rem;
}
.toc-core {
	text-align:center;
}
@media (max-width: 767px) {
	header .navbar .navbar-brand { 
		background-size: 50px;
		height:0px;
		width:70px;
		margin-right:5px;
	}
	header {
		height:auto;
	}
	/*#switch_facets {
		display:none;
	}*/
	.mainbody {
		width:100%;
	}
	#second-bar {
		display:inline-grid;
		margin-top:20px;
	}
	/*.search-controls {
		margin-top:20px;
	}*/
}
/*@media (max-width: 640px) {
        .search-controls {
                margin-top:0;
        }
        #second-bar {
                display:inline-grid;
                margin-top:0;
        }
}*/
@media (min-width: 768px) {
	.container > .navbar-collapse {
		margin:auto;
	}
}
.navbar-header {
	margin:auto;
}
.breadcrumbs .container {
	background-color:#fdfcfa;
	padding-left:10%;
	padding-right:10%;
}
.main .container {
	padding-left:10%;
	padding-right:10%;
	padding-top:0px;
}
.footer-container {
	padding-bottom:0px;
	padding-left:10%;
	padding-right:10%;
}
footer {
	margin-bottom:0px;
	padding-left:0;
	padding-right:0;
}
/* CUSTOM BAR */
.buttons {
	display:none;
}
@media only screen and (min-width: 768px) {
	.buttons {
	  display: flex;
	  float: right;
	  margin:auto;
	}
}
.buttons div {
  margin: 0px 10px;
  color: inherit;
  cursor: pointer;
}
.buttons div > * {
  pointer-events: none;
}
button#list, #table_view, #grid {
	border:none;
	background-color:transparent;
}
.buttons > button > a {
	text-decoration:none;
}
#wrapper {
	border-top:1px solid black;
}
.wrapper {
/*  display: grid;
  grid-template-columns: 1fr 1fr; */
  width: 100%;
}
.wrapper.list {
  grid-template-columns: 1fr;
}
.wrapper.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 100%;
}
.wrapper .col {
  /*width: calc(100% - 20px);
  height: 200px;
  background: #912f40;*/
  display: flex;
  /*justify-content: center;
  align-items: center;
  color: #fffffa;
  margin: 10px;*/
}

.switch {
  position: relative;
  width: 60px;
  height: 34px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

/*.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}*/

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}
.record-bar {
	display:grid;
}
.select-items {
	display:grid;
	margin:auto;
}
@media only screen and (min-width: 600px) {
	.select-items {
		display:flex;
	}
}
@media only screen and (max-width: 768px) {
	.prev-next > .pager {
		margin:0 auto;
	}
}
@media only screen and (min-width: 768px) {
	.record-bar {
		display:block;
	}
	.prev-next {
		float:left;
		margin-top:1rem;
	}
	.record-nav {
		float:right;
		padding-top:1rem;
		margin-bottom:0;
	}
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
  height: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
.result-body > div.tag {
	margin-top:1rem;
	margin-bottom:3rem;
	color:grey;
}
.result-body > div.tag > span{
	font-weight:normal;
	vertical-align:super;
	margin-left:10px;
}
.result-body > strong {
	color:#a7011d;
	font-weight:normal;
}
.result-body > a, .author-data > a {
	text-decoration:underline;
	text-decoration-color: #a7011d;

}
.results_table {
	width:100%;
	table-layout: fixed;
	overflow-wrap: break-word;
}
.result-links {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
tr.results{
	background-color:red;
	display:flex;

}
td.result_col_media{
	width:100%;
}

@media only screen and (min-width: 768px) {
	.search-result-limit {
		margin-left:10%;
	}
	.search-stats {
		/*padding: 35px 0;*/
		display:flex;
	}
	/* tool bar */
	.search-controls{
		display:flex;
		width:30%;
		margin:auto;
	}
}
#second-bar{
	display:flex;
}
#choose_records{
	width:75%;
}
#switch_facets {
	display:none;
}
@media (max-width: 768px) {
        .visible-xs {
                display: block !important;
        }
}
@media only screen and (min-width: 768px) {
	#switch_facets{
		display:block;
		width:25%;
		padding-top: 1.2rem;
		padding-left: 1rem;
	}
}
.bulkActionButtons{
	display:flex;
}
.breadcrumbs {
	display:none;
	margin-top:182px;
}
.search.container.navbar{
	width:75%;
	padding:0;
	margin:auto;
}
.banner.container.navbar{
	display:flex;
	border-bottom:1px solid #f3eee5;
	height:100%;
}
@media only screen and (min-width: 768px) {
	i {
		font-size:20px;
	}
}
.btn-primary:hover {
	background-color:inherit;
	color:inherit;
}
.btn-primary i {
	display: inherit;
	color: #a7011d;
}
.ph-magnifying-glass-bold::before {
	vertical-align: middle;
}
.btn-primary {
	border-radius: 0;
	border-color: black;
	border: 2px solid;
	color: black;
}
.searchForm .btn-primary {
	padding-right:30px;
	padding-left:30px;
}
.btn-link i {
	vertical-align:text-bottom;
	margin-left:10px;
	text-decoration:none;
}
.btn-link {
	padding-right:30px;
	padding-left:30px;
	text-decoration:none;
}
.btn-link:hover {
	text-decoration:none;
}
.toolbar-btn {
	color:black;
	background-color:transparent;
	border:none;
}
.toolbar-btn:hover{
	background-color:transparent;
	color:#a7011d;
}
.media-body {
	display:contents;
}
@media only screen and (min-width: 768px) {
	.search-header {
		background-color:#fdfcfa;
		border-bottom: 1px solid #f9f6f2;
		margin-left: -12%;
		margin-right: -12%;
		padding-left: 12%;
		padding-right: 12%;
		height:85px;
	}
}
.pager li > a {
	border:none;
}
.pager li > a:hover {
	background-color:inherit;
}
.mainbody.solo {
	border-top:1px solid;
	width:100%;
}
.record .media {
	margin-top:30px;
	margin-bottom:20px;
}
.record .media-left.medium {
	width:25%;
	margin-left:5%;
}
.record .format::after {
	content:none;
	text-decoration:none;
}
.record .media-left > a {
	text-decoration:none;
}
.media > .media-left > a {
	text-decoration:none;
}
.record .media-left a {
	text-decoration:none;
}
.format_title {
	display:flex;
}
.format_title > span {
	right:10px;
	position:relative;
	top:100px;
	background-color:#a7011d;
	border-radius:2px;
	color:white;
	font-weight:bold;
	padding: 2px 6px 2px 6px;
}
td.media > div > a > div.format_title {
	display:none;
}
.record .media-body {
	display:block;
}
.table-core > tbody > tr > th {
	border-top:1px solid #eae1d1;
	color:#a7011d;
	width:30%;
}
.table-core > tbody > tr > td {
	border-top:1px solid #eae1d1;
	width:70%;
}
.table-core {
	table-layout:auto;
}
.nav-tabs > li.similar {
	/*margin-left:5%;*/
}
.nav-tabs > li{
	margin-top:0.6em;
	border:1px solid #eae1d1;
	margin-right:5px;
}
.nav-tabs > li.active{
	margin-top:0px;
}
.nav-tabs > li.active > a{
	line-height:2em;
	border:none;
}
.nav-tabs > li > a {
	border:none;
	border-radius:0;
}
.nav-tabs > li.active > a:hover {
	border:none;
}

#similar-items-carousel .carousel-item {
	border:1px solid #eae1d1;
	margin:5px;
	flex-basis:20%;
	margin-left:10px;
	margin-right:10px;
}
.carousel-control.left {
	background-image:none;
}
.carousel-control.right {
	background-image:none;
}
a.carousel-control:focus {
	outline:none;
	background-image:none;
	box-shadow:none;
}
#similar-items-carousel .hover-overlay .content {
	display:block;
	background-color:transparent;
	color:black;
	position:relative;
}
.carousel-item {
	height:280px;
}
.carousel-control {
	width:5%;
}
#similar-items-carousel .hover-overlay {
	min-height:280px;
	text-decoration:none;
}
a.hover-overlay:hover {
	background-color:#faf9f5;
}
.carousel_format {
	position:absolute;
	bottom:25px;
	left:-10px;
	background-color:#a7011d;
	padding-left:5px;
	padding-right:5px;
	border-radius:2px;
	color:white;
	font-weight:bold;
}
@media screen and (min-width: 768px) {
	.carousel-control .ph-arrow-fat-left-bold, .carousel-control .ph-arrow-fat-right-bold {
		width: 70px;
		height: 70px;
		margin-top: -10px;
		font-size: 70px;
		position: absolute;
		top: 50%;
		z-index: 5;
		display: inline-block;
		color:#eae1d1;
		text-shadow:none;
		left:-5px;
	}
}
a.carousel-control {
	opacity:1;
}
.tab-content {
	border:none;
}
.record_bottom {
	border-top:1.5px solid black;
	margin-top:40px;
	padding-top:20px;
}
/*amend*/
#advSearchForm > .mainbody, #advSearchForm >.sidebar {
	margin-top:3%;
}
.add_search_link {
	text-decoration:none;
}
.add_search_link > i {
	vertical-align:bottom;
	margin-right:5px;
}
#groupPlaceHolder > a > i {
	vertical-align:bottom;
	margin-right:5px;
}
.adv-submit {
	margin-top:40px;
	display:grid;
}
@media only screen and (min-width: 768px) {
	.adv-submit .submit {
		width:25%;
	}
	.adv-submit .clear-btn {
	        /*width:25%;*/
	}
	.adv-submit {
		display:block;
	}
}
.adv-submit .clear-btn {
	float:left;
}
.adv-submit .submit {
	float:right;
}
.adv-submit > button {
	opacity:0.5;
}
.adv-submit > .submit {
	background-color:#a7011d;
	color:white;
}
#advSearchForm > .sidebar > label {
	color:#a7011d;
	margin:10px;
}
#advSearchForm .sidebar .facet-group {
	margin-bottom:0px;
	border-top:1px solid;
}
.facet-group > .facet:first-child {
	border:none;
}
#advSearchForm .sidebar.right {
	padding-left:0;
}
.adv-group, .solr-facets, fieldset.range, #advSearchForm > .sidebar {
	border:none;
	border-top:2px solid black;
	border-radius:0px;
	background-color:#fdfcfa;
	border-bottom:2px solid black;
}
fieldset.range {
	padding-left:1rem;
	margin-top:3rem;
	margin-right:1rem;
	margin-left:1rem;
	height:12rem;
}
fieldset.limits {
	width:7rem;
	float:right;
	margin-right:3rem;
}
@media (min-width: 768px) {
	fieldset {
		width:30%;
	}
}
fieldset > label {
	margin:10px 10px 10px 0;
	border-bottom:1px solid black;
	width:100%;
	padding-bottom:10px;
}
.adv-search .adv-term-input {
	border-radius:0px;
}
.adv-search .adv-term-remove {
	width:6%;
}
@media only screen and (min-width: 768px) {
	.adv-search .adv-term-input {
		height:40px;
		margin: 15px 5px 5px 0;	
	}
	.adv-search .adv-term-type {
		height:40px;
		margin: 15px 5px 5px 0;	
	}
	.adv-search .adv-term-remove {
		margin-top:25px;
	}
	.form-control {
		height:40px;
	}
	.adv-group-match > .form-control {
		margin: 15px 5px 5px 0;
	}
}
.adv_search_links {
	display:flex;
}
@media only screen and (min-width: 768px) {
	.adv_search_links {
		margin:auto;
	}
	.adv_search_links > a:hover {
		text-decoration:none;
	}

	.adv_search_links > a > i {
		vertical-align:bottom;
		margin-left:5px;
		color:#a7011d;
	}
}
@media only screen and (min-width: 992px) {
	.adv_search_links > a {
		font-size:1.2em;
		margin:15px;
	}
	.adv_search_links {
		display:inline-block;
	}
}
.alert {
	margin-bottom:0px;
}
.solr-adv-facet {
	margin:20px;
}
.solr-adv-facet > label {
	margin-bottom:15px;
}
@media only screen and (min-width: 768px) {
	.footer-column {
		display:flex;
	}
}
.footer-container ul li {
	border-bottom:1px solid black;
}
.footer-links {
	margin:40px auto;
}
.footer-container strong {
	margin:0;
}
.footer-bottom {
	background-color:black;
	color:white;
	padding: 1.875rem 10% 1.25rem;
}
.table-core a {
	text-decoration:underline;
	text-decoration-color:#a7011d;
}
.table-core i {
	color:#a7011d;
}
/* FACETS */
.sidebar .facet-group {
	background-color:#fdfcfa;
	margin-bottom:15%;
}
.sidebar .facet.active {
	background-color:#eae1d1 !important;
	border:none;
	color:inherit;
}
.facet-group .facet {
	border:none;
}
.badge {
	color:#b01c35;
	background-color:inherit;
	border-radius:0;
}
.facet-group .title {
	border:none;
	border-top:1px solid black;
	border-bottom:1px solid black;
	padding:20px;
}
.facet-group .collapse {
	border:none;
	border-bottom:1px solid black;
}
.facet-group [data-toggle="collapse"]::after {
	content:none;
}
.facet-group .collapsed::after {
	content:none;
}
.facet-group .collapsed .ph-caret-up::before {
    content: "\f31a";
}

/* RESULTS LIST */
.result .title {
	font-size:1.5rem;
}
@media (min-width: 768px) {
	.result .media-left.medium {
		width:20%;
	}
}
.wrapper.grid > .col > .media{
	display:block;
}
.wrapper.grid > .col {
	/*width:50%;*/
}
ol.grid > .result > .media > .media-body > .result-links {
	display:inline-table;
	float:right;
}
ol.grid > .result > .media > .media-body > .result-links > .save-record {
	display:none;
	
}
ol.grid > .result > .media > .media-body > .result-body > .tag {
	display:none;
}
ol.grid > .result > .media > .media-left {
	display:contents;	
}
.record .media-left img {
	width:100%;
}
ul.pager > li > a > i {
	font-size:2.5rem;
}
.record-cover-link {
	margin-right:80px;
}
.pager > li {
	vertical-align:middle;
}
.pagination > .active > span {
                z-index:auto;
                color:#b01c35;
		background-color:white !important;
		text-align:center;
		border:1px solid #b01c35;
}
.pagination > li > a {
		text-align:center;
		color:inherit;
		border:1px solid black;
}
.pagination > li > a.top {
		border:none;
		background-color:inherit;
}
li.page-button-arrow > a {
		text-align:center;
}
@media only screen and (min-width: 768px) {
	.pagination > .active > span {
		border:3px solid #b01c35;
		margin:10px;
		padding:20px;
		width:60px;
		height:60px;
		font-weight:bold;
	}

	.pagination > li > a {
		margin:10px;
		border:3px solid black;
		padding:20px;
		width:60px;
		height:60px;
		font-weight:bold;
	}
	.pagination > li > a.top {
		margin-top:16px;
	}
	li.page-button-arrow > a {
		padding:8px;
		width:40px;
		height:40px;
		font-weight:bold;
		text-align:center;
		margin-top:20px;
	}
}
div.bulk-checkbox > label {
	font-weight:normal;
	margin-top:10px;
	margin-left:5px;
}
.result:nth-child(even) {
	background-color:inherit;
}
li.result {
	border-bottom:1px solid black;
}
form input[type=checkbox] {
	height:auto;
}
.dedication {
	height:185px;
	background-color:#a7011d;
	color:white;
	display:flex;
}
.dedication > .hand {
	width:65%;
	text-align:right;
	margin:auto;
	padding-right:50px;
}
.dedication > .hand > i{
	font-size:100px;
}
.dedication > .warning {
	margin:auto 2rem;
	font-size:1.2rem;
}
.dedication > .confirm {
	width:100%;
	margin:auto;
}
.dedic_min {
	display:none;
}
@media only screen and (min-width: 768px) {
	.dedic_min {
		background-color:#faf9f5;
		width:10%;
		display:flex;
	}
	span.text-vert {
		writing-mode: tb-rl;
		transform: rotate(-180deg);
		font-size:12px;
		margin:auto;
	}
	.dedic_min > button {
		width:75px;
		height:75px;
	}
	.dedic_div {
		margin: auto 0;
		width:75px;
		height:75px;
		background-color:#a7011d;
		color:white;
		display:flex;
		margin-left:45%;
		border:none;
	}
}
.media-ret {
	width:100%;
}
.media-ret > div > a > img.recordcover {
	max-height:800px;
}
.cover-img {
	text-align:center;
}
.carousel-indicators {
	display:none;
}
.authority > a > i{
       vertical-align:bottom;
}
.authority > a {
       text-decoration:none;
}
/*UCL web*/
.social-links__item {
  color: #bc9665;
  border-bottom: 0;
  margin: 0 0.3125rem;
  text-decoration: none; }
@media (min-width: 48em) {
  .social-links__item {
    margin: 0 0 0 1.25rem;
    line-height: 0; } }
@media (min-width: 64em) {
  .social-links__item {
    margin-left: 0.625rem; } }
@media (min-width: 48em) {
  .social-links__item:first-child {
    margin-left: 0; } }
.social-links__item:hover {
  color: #fff; }
.icon-wrapper {
    display: inline-block;
    width: 1em;
    height: 1em;
    position: relative;
    margin-bottom: -0.15em;
}
.footer {
  padding: 1.875rem 10% 1.25rem;
  background-color: #000;
  color: #fff;
  position: relative; }
.footer__in {
  margin-left: auto;
  margin-right: auto;
  max-width: 79.375rem; }
@media (min-width: 48em) {
  .footer__in {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; } }
@media (min-width: 48em) {
  .footer__in > div {
    -webkit-box-flex: 1;
    -ms-flex: 1 0 auto;
    flex: 1 0 auto; } }
.footer__logo {
  text-align: center; }
@media (min-width: 48em) {
  .footer__logo {
    text-align: left;
    -ms-flex-preferred-size: 11.875rem !important;
    flex-basis: 11.875rem !important; } }
@media (min-width: 77.5em) {
  .footer__logo {
    -ms-flex-preferred-size: 16.25rem !important;
    flex-basis: 16.25rem !important; } }
@media (min-width: 99.375em) {
  .footer__logo {
    -ms-flex-preferred-size: 26.25rem !important;
    flex-basis: 26.25rem !important; } }
.footer__logo img {
  width: 8.5625rem;
  border: 0; }
@media (min-width: 48em) {
  .footer__logo img {
    width: auto; } }
.footer__copy {
  font-family: "Georgia", serif;
  font-size: 0.8125rem;
  line-height: 1.5;
  text-align: center;
  margin-top: 1.375rem; }
@media (min-width: 48em) {
  .footer__copy {
    margin-top: 0; } }
@media (min-width: 64em) {
  .footer__copy {
    text-align: left;
    font-size: 0.875rem; } }
@media (min-width: 77.5em) {
  .footer__copy {
    font-size: 1rem; } }
.footer__copy br {
  display: inline-block; }
@media (min-width: 77.5em) {
  .footer__copy br {
    display: none; } }
.footer__social-links {
  font-size: 2rem;
  text-align: center;
  margin-top: 1.125rem; }
@media (min-width: 48em) {
  .footer__social-links {
    text-align: right;
    position: relative;
    margin-top: 0; } }
@media (min-width: 77.5em) {
  .footer__social-links {
    font-size: 2.5rem; } }
.footer__social-links svg {
  fill: #a7011d; }
/* end UCL web */
